@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Poppins';
}


input, textarea, select {
    width: 100% !important;
    padding: .75rem 1.5rem !important;
    border: solid 0.5px black !important;
}
/*
#recordButton {
    height: 64px;
    width: 64px;
    background: #ab3b39;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.base-timer {
    position: relative;
    width: 180px;
    height: 180px;
    margin: auto;
}

.base-timer__svg {
    transform: scaleX(-1);
  }

  .base-timer__circle {
    fill: none;
    stroke: none;
  }

  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }

  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }

  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }

  .base-timer__path-remaining.orange {
    color: orange;
  }

  .base-timer__path-remaining.red {
    color: red;
  }

  .base-timer__label {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }
