@config '../../tailwind.config.ts';

@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import "./font-awesome/css/font-awesome.css";*/

@layer base {
    .generic-card__wrapper {
        @apply w-full border-[0.5px] border-black hover:shadow-lg flex flex-col min-h-[480px] h-[48px] max-w-[400px] max-h-[480px] transition-all cursor-pointer;
    }

    .cardTopCoverImage {
        @apply relative min-h-[35%] bg-cover bg-center transition-all;
    }

    .cardContent {
        @apply h-full flex flex-col p-4 overflow-hidden transition-all bg-white;
    }

    .cardTitle {
        @apply text-xl text-left font-bold transition-all mb-4;
    }

    .card-content_body {
        @apply flex flex-col h-full text-left;
    }

    .cardAuthor {
        @apply text-base font-semibold mt-2 transition-all;
    }

    .cardDate {
        @apply text-base mb-2 transition-all;
    }

    .cardDisplayPreview {
        @apply pt-2 h-full font-light text-lg overflow-hidden mt-auto pb-6 transition-all;
    }
}

html {
    font-family: "MuseoSans", "Nunito Sans", "Calibri", sans-serif !important;
}

body {
    font-family: "MuseoSans", "Nunito Sans", "Calibri", sans-serif !important;
}

input,
textarea,
select {
    width: 100%;
    padding: 0.75rem 1.5rem;
    border: solid 0.5px black;
}

.searchable_dropdown .dropdown-toggle {
    width: 100%;
}

.searchable_dropdown .dropdown-toggle input {
    width: 100% !important;
    padding: 0.75rem 1.5rem !important;
    border: solid 0.5px black !important;
    background: #fff;
    border-radius: 0;
}

/*
#recordButton {
    height: 64px;
    width: 64px;
    background: #ab3b39;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.base-timer {
    position: relative;
    width: 180px;
    height: 180px;
    margin: auto;
    display: flex;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
    color: orange;
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    background-color: #ef5350;
    color: #ffffff;
    font-weight: 700;
}

/* Custom Video Recorder container */
.custom_block-video_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.custom_block-video_container-inner {
    height: 365px;
    width: 100%;
    position: relative;
}

.custom_block-video,
.custom_block-video_playback {
    height: 365px;
    width: 100%;
    object-fit: cover;
}

/* Video Controls Container */
.custom_block-controls_container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    place-items: center;
    gap: 1.5rem;
    padding: 1rem 3rem;
}

/* Custom Video Rec Button */
.custom_block-record_button-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    z-index: 50;
}

.custom_block-record_button-inner {
    border-radius: 50%;
    width: 96px;
    height: 96px;
    background-color: #ef5350;
    display: flex;
    place-items: center;
    justify-content: center;
}

.custom_block-record_button-inner:hover {
    background-color: #ab3b39;
}

.rec_button-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 33px;
}

.custom_block-progress_bar {
    width: 450px;
    max-width: 450px;
    height: 6px;
    border-radius: 0.25rem;
    background-color: #b83f3d;
}

.custom_block-countdown_wrapper {
    display: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.fi-btn {
    background-color: teal !important;
    color: white !important;
    border: none;
    padding: 10px 20px;
}

.fi-btn:hover {
    background-color: blue !important;
}

.time_elapsed-counter {
    width: 50px;
}

.richTextContentContainer h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.richTextContentContainer h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.richTextContentContainer h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.richTextContentContainer h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.richTextContentContainer h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.richTextContentContainer h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.richTextContentContainer table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
.richTextContentContainer tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.richTextContentContainer tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.richTextContentContainer td {
    display: table-cell;
    vertical-align: inherit;
}

.richTextContentContainer table:not([cellpadding]) td,
table:not([cellpadding]) th {
    padding: 0.4rem;
}

.richTextContentContainer
    table[border]:not([border="0"]):not([style*="border-width"])
    td,
table[border]:not([border="0"]):not([style*="border-width"]) th {
    border-width: 1px;
}

.richTextContentContainer
    table[border]:not([border="0"]):not([style*="border-style"])
    td,
table[border]:not([border="0"]):not([style*="border-style"]) th {
    border-style: solid;
}

.richTextContentContainer
    table[border]:not([border="0"]):not([style*="border-color"])
    td,
table[border]:not([border="0"]):not([style*="border-color"]) th {
    border-color: #ccc;
}
.richTextContentContainer ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.richTextContentContainer ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.richTextContentContainer figure {
    display: table;
}

.richTextContentContainer figure figcaption {
    display: block;
    margin-top: 0.25rem;
    text-align: center;
}

.richTextContentContainer hr {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0 0 0;
}

.richTextContentContainer code {
    border-radius: 3px;
    padding: 0.1rem 0.2rem;
}

.richTextContentContainer blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    border-left: 2px solid #ccc;
    margin-left: 1.5rem;
    padding-left: 1rem;
}

.richTextContentContainer pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    background: #f5f2f0;
}
.richTextContentContainer pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
