.bg-teaching-gradient {
    background-color: rgba(34, 60, 145);
}
.bg-learning-gradient {
    background-color: rgba(41, 152, 169);
}
.bg-leading-gradient {
    background-color: rgba(188, 51, 66);
}
.bg-managing-gradient {
    background-color: rgba(253, 145, 64);
}

.bg-triage-img {
    background-color: rgba(1, 36, 39);
}
.bg-teaching-img {
    background-color: rgba(34, 60, 145);
    background-image: url("/resources/assets/images/dma/Teaching.png");
    background-size: cover;
}
.bg-learning-img {
    background-color: rgba(41, 152, 169);
    background-image: url("/resources/assets/images/dma/Learning.png");
    background-size: cover;
}
.bg-leading-img {
    background-color: rgba(188, 51, 66);
    background-image: url("/resources/assets/images/dma/Leading.png");
    background-size: cover;
}
.bg-managing-img {
    background-color: rgba(253, 145, 64);
    background-image: url("/resources/assets/images/dma/Managing.png");
    background-size: cover;
}
