@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.dma-app-root {
    --color-blue: #6985b7;
    --color-blue-dark: #223c91;
    --color-cyan: #5eadb2;
    --color-cyan-dark: #2898a9;
    --color-orange: #f4b07e;
    --color-orange-dark: #fd9141;
    --color-red: #d8747f;
    --color-red-dark: #bc3242;

    --color-black-0: #000000;
    --color-black-1: #0b0a16;
    --color-black-2: #21212e;
    --color-black-3: #363644;
    --color-black-4: #474757;

    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    color: var(--color-black-2);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* TODO: remove this, used for debugging */
    .text-h1,
    .text-h1-caps,
    .text-h2,
    .text-h2-caps,
    .text-h3,
    .text-h3-caps,
    .text-h4,
    .text-h4-caps,
    .text-h5,
    .text-h5-caps,
    .text-xLarge,
    .text-large,
    .text-medium,
    .text-base,
    .text-small,
    .text-button {
        // color: blue !important;
    }
}
