@import "variables";

.dma-app-root {
    /**
     * Text styles
     */
    .text-h1,
    .text-h1-caps {
        font-size: 40px;
        font-weight: 700;
        line-height: 1;

        @media screen and (min-width: $md-start) {
            font-size: 96px;
        }
    }

    .text-h2,
    .text-h2-caps {
        font-size: 32px;
        font-weight: 700;
        line-height: 1;

        @media screen and (min-width: $md-start) {
            font-size: 64px;
        }
    }

    .text-h3,
    .text-h3-caps {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.1;

        @media screen and (min-width: $md-start) {
            font-size: 36px;
        }
    }

    .text-h4,
    .text-h4-caps {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2;

        @media screen and (min-width: $md-start) {
            font-size: 24px;
        }
    }

    .text-h5,
    .text-h5-caps {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.3;

        @media screen and (min-width: $md-start) {
            font-size: 20px;
        }
    }

    .text-h1-caps,
    .text-h2-caps,
    .text-h3-caps,
    .text-h4-caps,
    .text-h5-caps {
        text-transform: uppercase;
        letter-spacing: 0.04em;
        font-weight: 700;
    }

    .text-xLarge {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: initial;

        @media screen and (min-width: $md-start) {
            font-size: 28px;
        }
    }

    .text-large {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: initial;

        @media screen and (min-width: $md-start) {
            font-size: 24px;
        }
    }

    .text-medium {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: initial;

        @media screen and (min-width: $md-start) {
            font-size: 20px;
        }
    }

    .text-base {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: initial;
    }

    .text-small {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: initial;
    }

    // Specific to button components
    .text-button {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.5;

        @media screen and (min-width: $md-start) {
            font-size: 20px;
        }
    }

    @media screen and (min-width: $md-start) {
        .md\:text-h2,
        .md\:text-h2-caps {
            font-size: 64px;
            font-weight: 700;
            line-height: 1;
        }

        .md\:text-h3,
        .md\:text-h3-caps {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.1;
        }

        .md\:text-h5,
        .md\:text-h5-caps {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.1;
        }

        .md\:text-h2-caps,
        .md\:text-h3-caps,
        .md\:text-h5-caps {
            font-weight: 700;
        }

        .md\:text-medium {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: initial;
        }

        .md\:text-base {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: initial;
        }
    }

    @media screen and (min-width: $lg-start) {
        .lg\:text-h1,
        .lg\:text-h1-caps {
            font-size: 96px;
            font-weight: 700;
            line-height: 1;
        }

        .lg\:text-h2,
        .lg\:text-h2-caps {
            font-size: 64px;
            font-weight: 700;
            line-height: 1.2;
        }

        .lg\:text-h1-caps,
        .lg\:text-h2-caps {
            font-weight: 700;
        }

        .lg\:text-xLarge {
            font-size: 28px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: initial;
        }

        .lg\:text-large {
            font-size: 24px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: initial;
        }
    }

    .text-teaching {
        color: var(--color-blue-dark);
    }
    .text-learning {
        color: var(--color-cyan-dark);
    }
    .text-leading {
        color: var(--color-red-dark);
    }
    .text-managing {
        color: var(--color-orange-dark);
    }

    /**
     * Utils
     *
     * These mimic Tailwind text utils but need to be respecified to
     * override other DMA typography declarations
     */
    .uppercase {
        text-transform: uppercase;
    }
    .normal-case {
        text-transform: none;
    }

    .font-normal {
        font-weight: 500;
    }
    .font-medium {
        font-weight: 500;
    }
    .font-semibold {
        font-weight: 700;
    }
    .font-bold {
        font-weight: 700;
    }

    .tracking-normal {
        letter-spacing: 0;
    }
}
