/*@import '../../../../vendor/filament/filament/resources/css/theme.css';*/

@config './tailwind.config.js';
@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import "./font-awesome/css/font-awesome.css";*/



@layer base {
    .generic-card__wrapper {
        @apply w-full border-[0.5px] border-black hover:shadow-lg flex flex-col min-h-[480px] h-[48px] max-w-[400px] max-h-[480px] transition-all cursor-pointer
    }

    .cardTopCoverImage {
        @apply relative min-h-[35%] bg-cover bg-center transition-all
    }

    .cardContent {
        @apply h-full flex flex-col p-4 overflow-hidden transition-all bg-white
    }

    .cardTitle {
        @apply text-xl text-left font-bold uppercase transition-all mb-4
    }

    .card-content_body {
        @apply flex flex-col h-full text-left
    }

    .cardAuthor {
        @apply text-base font-semibold mt-2 transition-all
    }

    .cardDate {
        @apply text-base mb-2 transition-all
    }

    .cardDisplayPreview {
        @apply pt-2 h-full font-light text-lg overflow-hidden mt-auto pb-6 transition-all
    }
}


html {
    font-family: 'Museo sans', sans-serif;
}


input, textarea, select {
    width: 100% ;
    padding: .75rem 1.5rem ;
    border: solid 0.5px black ;
}

.searchable_dropdown .dropdown-toggle {
    width: 100%;
}

.searchable_dropdown .dropdown-toggle input {
    width: 100% !important;
    padding: .75rem 1.5rem !important;
    border: solid 0.5px black !important;
    background: #fff;
    border-radius: 0;
}

/*
#recordButton {
    height: 64px;
    width: 64px;
    background: #ab3b39;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.base-timer {
    position: relative;
    width: 180px;
    height: 180px;
    margin: auto;
    display: flex;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
    color: orange;
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    background-color: #EF5350;
    color: #ffffff;
    font-weight: 700;
}


/* Custom Video Recorder container */
.custom_block-video_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.custom_block-video_container-inner {
    height: 365px;
    width: 100%;
    position: relative;
}

.custom_block-video, .custom_block-video_playback {
    height: 365px;
    width: 100%;
    object-fit: cover;
}

/* Video Controls Container */
.custom_block-controls_container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    place-items: center;
    gap: 1.5rem;
    padding: 1rem 3rem;
}

/* Custom Video Rec Button */
.custom_block-record_button-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    z-index: 50;
}

.custom_block-record_button-inner {
    border-radius: 50%;
    width: 96px;
    height: 96px;
    background-color: #EF5350;
    display: flex;
    place-items: center;
    justify-content: center;
}

.custom_block-record_button-inner:hover {
    background-color: #ab3b39;
}

.rec_button-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 33px;
}

.custom_block-progress_bar {
    width: 450px;
    max-width: 450px;
    height: 6px;
    border-radius: 0.25rem;
    background-color: #B83F3D;
}

.custom_block-countdown_wrapper {
    display: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.fi-btn {
    background-color: teal !important;
    color: white !important;
    border: none;
    padding: 10px 20px;
}

.fi-btn:hover {
    background-color: lightseagreen !important;

}

.time_elapsed-counter {
    width: 50px;
}

